### Importação das bibliotecas

In [119]:
import pandas as pd
import numpy as np

### Importação da Database

In [120]:
df_escolas = pd.read_csv('db/escolas.csv', encoding='utf-8')
df_subprefeituras = pd.read_csv('db/subprefeituras.csv', encoding='utf-8')
df_material_didatico = pd.read_csv('db/material_didatico.csv', encoding='utf-8')

### Padronização dos dados

In [121]:
# Nome das colunas em snake_case
df_escolas.columns = df_escolas.columns.str.lower().str.strip().str.replace(' ', '_')

# Strings não devem conter acentos && Todas as strings devem estar em maiúsculo
df_escolas['escolas_postos'] = df_escolas['escolas_postos'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_escolas['bairro'] = df_escolas['bairro'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_escolas['endereço'] = df_escolas['endereço'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()

# Nome dos logradouros sem abreviação
df_escolas['endereço'] = df_escolas['endereço'].str.replace('R.', 'RUA', regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('AV.', 'AVENIDA',regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('PCA.', 'PRACA',regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('ESTR.', 'ESTRADA',regex=False)

# Latitude e longitude com apenas 5 casas decimais
df_escolas["lat"] = df_escolas["lat"].str.replace(',','.',regex=False).astype(float).round(5)
df_escolas["lon"] = df_escolas["lon"].str.replace(',','.',regex=False).astype(float).round(5)

# Ids devem ser strings com 3 caracteres (Ex: '024')
df_escolas["id"] = df_escolas["id"].apply(lambda x: str(x).zfill(3))

In [122]:
df_escolas

,id,escolas_postos,bairro,endereço,lat,lon
0,178,CENTRO INTEGRADO DE EDUCACAO PUBLICA HENFIL,CAJU,RUA CARLOS SEIDL S/NO,-22.88089,-43.22533
1,634,EM ALICE DO AMARAL PEIXOTO,BENFICA,RUA EBANO 187,-22.88957,-43.23620
2,483,EM CELESTINO SILVA,CENTRO,"RUA DO LAVRADIO, 56",-22.90929,-43.18358
3,476,ESCOLA MUNICIPAL FLORIANO PEIXOTO,SAO CRISTOVAO,PRACA ARGENTINA 20,-22.89763,-43.22746
4,132,EM PEREIRA PASSOS,RIO COMPRIDO,PRACA CONDESSA PAULO DE FRONTIN 45,-22.92441,-43.20858
...,...,...,...,...,...,...
147,474,EM ENGENHEIRO GASTAO RANGEL,GUARATIBA,ESTRADA DO MAGARCA 9.183,-22.98046,-43.64354
148,301,EM JONATAS SERRANO,GUARATIBA,"ESTRADA DO MATO ALTO, S/NO",-22.95316,-43.57741
149,215,E.M. NARCISA AMALIA,ILHA DE GUARATIBA,ESTRADA TEODORETO DE CAMARGO S/N.O,-23.00908,-43.53758
150,606,EM PROFESSOR CASTILHO,ILHA DE GUARATIBA,CAMINHO DA MATRIZ 4406,-22.99412,-43.59368
151,069,ESCOLA MUNICIPAL CARDEAL ARCOVERDE,MADUREIRA,RUA AGOSTINHO BARBALHO 401,-22.87608,-43.34337