### Importação das bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Importação da Database

In [2]:
df_escolas = pd.read_csv('db/escolas.csv', encoding='utf-8')
df_subprefeituras = pd.read_csv('db/subprefeituras.csv', encoding='utf-8')
df_material_didatico = pd.read_csv('db/material_didatico.csv', encoding='utf-8')

### Padronização dos dados

In [3]:
# Nome das colunas em snake_case
df_escolas.columns = df_escolas.columns.str.lower().str.strip().str.replace(' ', '_')
df_subprefeituras.columns = df_subprefeituras.columns.str.lower().str.strip().str.replace(' ', '_')
df_material_didatico.columns = df_material_didatico.columns.str.lower().str.strip().str.replace(' ', '_')

# Strings não devem conter acentos && Todas as strings devem estar em maiúsculo
df_escolas['escolas_postos'] = df_escolas['escolas_postos'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_escolas['bairro'] = df_escolas['bairro'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_escolas['endereço'] = df_escolas['endereço'].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_subprefeituras["nome"] = df_subprefeituras["nome"].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()
df_subprefeituras["subprefeitura"] = df_subprefeituras["subprefeitura"].str.normalize("NFKD").str.encode('ascii', errors='ignore').str.decode('utf-8').str.upper()

# Nome dos logradouros sem abreviação
df_escolas['endereço'] = df_escolas['endereço'].str.replace('R.', 'RUA', regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('AV.', 'AVENIDA',regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('PCA.', 'PRACA',regex=False)
df_escolas['endereço'] = df_escolas['endereço'].str.replace('ESTR.', 'ESTRADA',regex=False)

# Latitude e longitude com apenas 5 casas decimais
df_escolas["lat"] = df_escolas["lat"].str.replace(',','.',regex=False).astype(float).round(5)
df_escolas["lon"] = df_escolas["lon"].str.replace(',','.',regex=False).astype(float).round(5)

# Ids devem ser strings com 3 caracteres (Ex: '024')
df_escolas["id"] = df_escolas["id"].apply(lambda x: str(x).zfill(3))
df_material_didatico["id"] = df_material_didatico["id"].apply(lambda x: str(x).zfill(3))

In [5]:
df_material_didatico

      id quantidade
0    178         20
1    634        121
2    483        220
3    476        190
4    132         67
..   ...        ...
146  474        320
147  301        335
148  215        NaN
149  606        521
150  590        225

[151 rows x 2 columns]